.teacherCard {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  padding: 24px;
  background-color: #f8f8f8;
  width: 1184px;
  height: 328px;
  border-radius: 30px;
  gap: 32px;
}
.avatarWrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #fbe9ba;
  overflow: hidden;
  background-color: #fff;
}
.contentWrapper {
  display: flex;
  flex-direction: space-between;
}
.teacherAvatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin: 0 auto;
}
